.my-markdown .indent2 {
  padding-left: 2rem;
}

.my-markdown .quote {
  padding: 1rem 1rem 10px;
  background: rgb(29, 31, 39);
  border-left: 0.3rem solid rgb(119, 171, 183);
  border-radius: 0.5rem;
}

.my-markdown .inline-code {
  /* background: rgb(68, 73, 80);
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem; */
  /* Flowbite kbd */
  @apply px-2 py-1.5 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500;
}

/* Code block for code. not quote in markdown. not inline code */
.my-markdown .columnLeft {
  display: block;
  padding-right: 2rem;
  @apply float-none w-full xl:float-left xl:w-1/3;
}
.my-markdown .columnRight {
  clear: right;
  line-height: 1.5;
  @apply float-none w-full xl:float-left xl:w-2/3 xl:mt-4;
}
.my-markdown .columnRight::after {
  content: ' ';
}
.my-markdown .clearFloat {
  clear: both;
}
/* Code block for lanague translation contents */
.my-markdown .languageLeft {
  display: block;
  clear: both;
  padding-right: 2rem;
  @apply float-none w-full xl:float-left xl:w-1/2;
}
.my-markdown .languageRight {
  clear: right;
  line-height: 1.5;
  @apply float-none w-full xl:float-left xl:w-1/2 xl:mt-4;
}
.my-markdown .languageRight::afte {
  content: ' ';
}

/* Table from Flowbite */
.my-markdown .md-table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}
.my-markdown .md-table > thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}
.my-markdown .md-table > thead > tr > th {
  @apply px-6 py-3;
}
.my-markdown .md-table > tbody > tr {
  @apply bg-white dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
}
.my-markdown .md-table > tbody > tr:not(:last-child) {
  @apply border-b;
}
.my-markdown .md-table > tbody > tr > th {
  @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
}
.my-markdown .md-table > tbody > tr > td {
  @apply px-6 py-3;
}

/**
*  leverage the <section> inserted by remark-sectionize plugin
*/
.my-markdown section {
  /* clear-both: since code block have float:right */
  @apply relative clear-both mb-4;
  /* from: main > section.w-5/6 (remain 1/6 for leftside+rightside) */
  /* --left-side-empty-space: 8.3%;  */
}
/* as thread-line */
.my-markdown section:has(section)::before {
  /* @apply absolute block h-full bg-gray-300 -left-[180px] z-30; */
  @apply absolute block h-full bg-gray-300 -left-[180px] -z-10;
  content: '';
  width: 2px;
  height: 100%;
}
/* as thread-line-child: git-line-corner */
.my-markdown section:has(section) section h3::before {
  /* @apply absolute block -left-[180px] z-50; */
  @apply absolute block -left-[180px] z-10;
  content: '';
  bottom: 100%;
  width: 20px;
  height: 20px;
  border-bottom: solid 2px #e1e4e8;
  border-left: solid 2px #e1e4e8;
  border-bottom-left-radius: 16px;
  transform: translateY(20px);
}
/* as thread-line-child: override line after git-line-corner*/
.my-markdown section:has(section) > section:last-child::before {
  /* @apply absolute block h-full border-l-2 border-stone-200 dark:border-gray-800 -left-[180px] z-40; */
  @apply absolute block h-full border-l-2 border-stone-200 dark:border-gray-800 -left-[180px] z-0;
  content: '';
  width: 15px;
}
/* similar to thread-line-child's height */
