.indent2 {
  padding-left: 2rem;
}

.quote {
  padding: 1rem 1rem 10px;
  background: rgb(29, 31, 39);
  border-left: 0.3rem solid rgb(119, 171, 183);
  border-radius: 0.5rem;
}

.inline-code {
  background: rgb(68, 73, 80);
  /* font-size: 90%; */
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
}
